hc unrule -F
hc rule focus=on # normally focus new clients
hc rule floatplacement=smart
hc rule windowtype~'_NET_WM_WINDOW_TYPE_(DIALOG|UTILITY|SPLASH)' floating=on
hc rule windowtype='_NET_WM_WINDOW_TYPE_DIALOG' focus=on
hc rule windowtype~'_NET_WM_WINDOW_TYPE_(NOTIFICATION|DOCK|DESKTOP)' manage=off
hc rule fixedsize floating=on
hc rule class=mpv focus=off floating=on
hc rule title~'plauncher' floating=on floating_geometry=300x+100+100+100 focus=on floatplacement=center
hc rule title~'ytp' floating=on floating_geometry=500x+100+100+100 focus=on floatplacement=center

hc rule title~'mysh' floating=on floating_geometry=800x+500+100+100 focus=on floatplacement=center
hc rule class="Vivaldi-stable" tag=2

hc set tree_style '╾│ ├└╼─┐'
